<!-- Html usado para el autocompletado del IDE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="year">Año</label>
            <input type="text" name="year">
        </div>
        <div>
            <label for="semester">Cuatrimestre</label>
            <input type="text" name="semester" id="">
        </div>
        <div>
            <label for="direc_requirement">Correlativa</label>
            <input type="text" name="direct_requirement" id="">
        </div>
        <div>
            <label for="career">Carrera</label>
            <input type="career" name="" id="">
        </div>
        <button class="btn" type="submit">Enviar</button>
    </form>
</body>
</html>