<!-- Html usado para el autocompletado del IDE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Materias de la Facultad de Ciencias Exactas</h1>
    <h2><a href="Subjects">Listar Materias</a></h2>
    <table>
        <thead>
            <th>
                <td>Materia</td>
                <td>Año</td>
                <td>Cuatrimestre</td>
                <td>Correlativa</td>
                <td>Carrera</td>
            </th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>